GenAst {
    entries: [
        TopLevelParseEntry {
            field: Field {
                name: Ident {
                    ident: "kotlinFile",
                    span: #0 bytes(71..81),
                },
            },
            asts: [
                Optional(
                    [
                        Ident {
                            ident: "shebangLine",
                            span: #0 bytes(96..107),
                        },
                    ],
                ),
                Repeated(
                    [
                        Ident {
                            ident: "NL",
                            span: #0 bytes(122..124),
                        },
                    ],
                ),
                Repeated(
                    [
                        Ident {
                            ident: "fileAnnotation",
                            span: #0 bytes(139..153),
                        },
                    ],
                ),
                Ident {
                    ident: "packageHeader",
                    span: #0 bytes(167..180),
                },
                Ident {
                    ident: "importList",
                    span: #0 bytes(193..203),
                },
                Repeated(
                    [
                        Ident {
                            ident: "topLevelObject",
                            span: #0 bytes(217..231),
                        },
                    ],
                ),
                Ident {
                    ident: "EOF",
                    span: #0 bytes(245..248),
                },
            ],
        },
        TopLevelParseEntry {
            field: Field {
                name: Ident {
                    ident: "script",
                    span: #0 bytes(258..264),
                },
            },
            asts: [
                Optional(
                    [
                        Ident {
                            ident: "shebangLine",
                            span: #0 bytes(279..290),
                        },
                    ],
                ),
                Repeated(
                    [
                        Ident {
                            ident: "NL",
                            span: #0 bytes(305..307),
                        },
                    ],
                ),
                Repeated(
                    [
                        Ident {
                            ident: "fileAnnotation",
                            span: #0 bytes(322..336),
                        },
                    ],
                ),
                Ident {
                    ident: "packageHeader",
                    span: #0 bytes(350..363),
                },
                Ident {
                    ident: "importList",
                    span: #0 bytes(376..386),
                },
                Repeated(
                    [
                        Ident {
                            ident: "statement",
                            span: #0 bytes(400..409),
                        },
                        Ident {
                            ident: "semi",
                            span: #0 bytes(410..414),
                        },
                    ],
                ),
                Ident {
                    ident: "EOF",
                    span: #0 bytes(428..431),
                },
            ],
        },
        TopLevelParseEntry {
            field: Field {
                name: Ident {
                    ident: "declaration",
                    span: #0 bytes(441..452),
                },
            },
            asts: [
                Choice(
                    [
                        Ident {
                            ident: "classDeclaration",
                            span: #0 bytes(466..482),
                        },
                        Ident {
                            ident: "objectDeclaration",
                            span: #0 bytes(497..514),
                        },
                        Ident {
                            ident: "functionDeclaration",
                            span: #0 bytes(529..548),
                        },
                        Ident {
                            ident: "propertyDeclaration",
                            span: #0 bytes(563..582),
                        },
                        Ident {
                            ident: "typeAlias",
                            span: #0 bytes(597..606),
                        },
                    ],
                ),
            ],
        },
    ],
}

